@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Blackadder ITC';
  src: url('./assets/fonts/blackadder.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'i eat crayons';
  src: url('./assets/fonts/ieatcrayons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-pergaminho: #F4E0B6;
  --color-tinta-escura: #362409;
  --color-tinta-media: #4D3A29;
  --color-rosa-antigo: #C4866F;

  --font-titulo: "Blackadder ITC", cursive;
  --font-subtitulo: "Mountains of Christmas", cursive;
  --font-corpo: "i eat crayons", sans-serif;
}

@layer base {
  body {
    @apply bg-pergaminho text-tinta-escura;
    background-image: url('./assets/images/textura-papel.png');
    background-repeat: repeat; 
    background-blend-mode: multiply; 
  }
}

.efeito-titulo {
  -webkit-text-stroke: 3px var(--color-tinta-escura);
  text-shadow: 
    0px 0px 40.824px rgba(196, 134, 111, 0.5), 
    0px 0px 23.328px rgba(196, 134, 111, 0.5), 
    0px 0px 13.608px rgba(196, 134, 111, 0.5);
}